<h1>Edit User invite</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_invite_path(@conn, :update, @user_invite)) %>

<span><%= link "Back", to: Routes.user_invite_path(@conn, :index) %></span>
